<p class="top_offset">
  Please click the button to pay with WorldPay.
</p>  
<form action="{{ payment_method_obj.get_form_action(payment_method) }}" method="post">
  {% set hidden_fields = payment_method_obj.get_hidden_fields(payment_method, order) %}
  {% for name, value in hidden_fields %}
    <input type="hidden" name="{{ name }}" value="{{ item }}"/>
  {% endfor %}
  <input type="submit" value="Pay with WorldPay"/>
</form>